html, body{
    padding: 0;
    margin:0;
    font-family: arial, sans-serif;
}

section{
    perspective: 1000px;
}

section > *{
    transform:rotateX(50deg);
    transition: all 1s;
}

.grid-container{
    border: solid 4px #000;
    display: grid;
    overflow:hidden;
    /*grid: 100px 150px 200px 250px / 100px 150px 200px 250px;*/

      grid-template-columns: [first] 100px [line2] 50px [line3] 300px [col4-start] 100px [end];
      grid-template-rows: [row1-start] 200px [row1-end] 100px [third-line] auto [last-line];
}

.grid-item{
    box-sizing: border-box;
    padding:1em;
    text-align: center;
    overflow:hidden;
}

.grid-item-01{
    background-color: lightpink;

    grid-column-start: 2;
    grid-column-end: five;
    grid-row-start: row1-start;
    grid-row-end: 3;

    /*grid-column-start:1;
    grid-column-end: span col4-start;
    grid-row-start:2;
    grid-row-end: span 2;*/
}
.grid-item-02{
    background-color: lightblue;
}
.grid-item-03{
    background-color: lightgreen;
    grid-area: header;
}
.grid-item-04{
    background-color: lightcoral;
}
.grid-item-05{
    background-color: lightyellow;
    
}
.grid-item-06{
    background-color: lightslategray;
    grid-area: 1 / col4-start / last-line / 5;
}
.grid-item-07{
    background-color: lightsalmon;
}
.grid-item-08{
    background-color: lightcyan;
}
.grid-item-09{
    background-color: lightseagreen;
}
.grid-item-10{
    background-color: lightpink;
    grid-column: 2 / span 3;
}